
#box {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: rgb(9, 255, 0);
    align-items: center;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    margin: 0px 2px 0px 2px;
} 